/* .bg-image{
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .carousel-control-next-icon{
    background-image: url(../images/next-page-right.png);
} */

.bg-image1{
    background-image: url(../images/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.modalcontac{
    color: #aa9166;
    text-shadow: 0.1em 0.1em 0.05em rgb(240, 236, 4);
    background-image: url(../images/contacto.jpg);
    
}

@media screen {
    .modalcontac{
        color: #aa9166;
        text-shadow: 0.1em 0.1em 0.05em rgb(240, 236, 4);
        background-image: url(../images/contacto.jpg);
        
    }
}